
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn-google {
  width: 100%;
  height: 100%;
}

.btn-facebook {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}